$arrow: "http://ourjs.github.io/static/2015/arrow.png";
$settings-color: rgb(0,152,167);
$settings-bg-color: HSLA(210, 6%, 12%, 1.00);
#settings {
    display: block;
    height: auto;
    color: $settings-color;
    background-color: $settings-bg-color;
    #help {
        color: $settings-color;
        outline: none;
    }
    .langchange {
        float: right;
        display: inline-block;
        padding-top: 1px;
        margin-right: 5px;
        #change {
            color: $settings-color;
            text-align: center;
            outline: none;
        }
    }
    .mode {
        outline: none;
        width: 10%;
        border: solid 1px $settings-color;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        background: url($arrow) no-repeat scroll right center transparent;
    }
    #line {
        width: 15%;
        border-width: thin;
        border-color: $settings-color;
        border-radius: 5px;
        outline: none;
        opacity: 1;
        background-color: transparent;
    }
    #cnum {
        width: 3%;
        border-width: thin;
        border-color: $settings-bg-color;
        outline: none;
        opacity: 1;
        background-color: transparent;
    }
}
#CodeEditor {
    display: block;
    position: absolute;
    font-size: 12px;
    width: 100%;
    height: 100%;
}

#mdPreview {
  display: none;
}
